.number_cart {
    background-color: #3fb0ac;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    font-size: 0.9em;
}
.border_banner {
border-color: #3fb0ac !important;
border-width: medium !important;
}
