.bi-dash-circle-fill {
    font-size: 1.4em;
    color: #3fb0ac;
}
.bi-plus-circle-fill {
    font-size: 1.4em;
    color: #3fb0ac;
}
.bi-trash-fill {
    font-size: 1.2em;
    color: #3fb0ac;
}
.empty_cart {
}