.img_carousel {
    object-fit: contain;
}
.button {
    background-color: #3fb0ac;
    border: 1px solid white;
    color: white;
}
.button:hover {
    background-color: white;
    border: 1px solid #3fb0ac;
    color: #3fb0ac;
}

@media screen and (min-width: 500px) {
    .card_home {
        margin-left: 48px !important;
        margin-right: 48px !important;
    }
  }